header {
  text-align: center;
  height: 100px;
}

#form {
  /*position: relative;*/
  margin: 50px;
}

#wrapper {
  position: fixed;
  /*margin: 10px;*/
  float: left;
}

.foodMap {
  height: 400pt;
}



footer {
  text-align: center;
}
